/* PRODUCTS */
.products {
  padding: 40px 5%;
  background: #f4f4f4;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  background: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h3 {
  margin: 15px 0 10px;
}

.price {
  color: #ff9800;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-card button {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background: #ff9800;
}